.title{
  display: grid;
  grid-template-columns: 32px auto 32px;
  align-items: center;
  gap: 15px;
  justify-content: center;  
  margin: 0 10px;
}

.titleText{
  word-wrap: break-word;
  line-height: 40px;
}

.sheet{
  display: block;
  width: calc(100% - 100px);
  margin: auto;
  margin-bottom: 20px;
  max-width: 960px;
}

.buttonContainer{
  display: inline-grid;
  min-width: 300px;
  margin-bottom: 30px;
}
