.reportContainer{
  display: block;
  width: calc(100% - 100px);
  margin: auto;
  padding: 10px;
  border: 1px solid gold;
  background: azure;
  margin-bottom: 30px;
  border-color: darkturquoise;
  max-width: 960px;
}

.score{
  display: grid;
  grid-template-columns: 100px repeat(auto-fit, 40px);
  grid-gap: 0px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
  align-items: center;
  grid-auto-flow: column;
  overflow: hidden;
}

.scoreHeader{
  display: block;
  text-align: left;
}

.comment{
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  line-height: 32px;
}

.commentCenter{
  text-align: center;
  margin: 40px auto;
}