$card-width: 220px;
$card-height: 340px;

.title{
  display: grid;
  grid-template-columns: 32px auto 32px;
  align-items: center;
  gap: 15px;
  justify-content: center;  
  margin: 0 10px;
}

.grid{
  display: grid;
  //grid-template-columns: repeat(auto-fill, $card-width);
  grid-template-columns: repeat(auto-fit, $card-width);
  grid-gap: 50px;
  height: auto;
  margin: 20px 0;
  /* justify-items: center; */
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column;*/
}

.cardContainer{
  position: relative;
  height: $card-height;
}

.card{
  will-change: transform, opacity;
  position: absolute;
}

.cardContent{
  width: $card-width;
  height: $card-height;
  box-shadow: 0 5px 10px rgba(0,0,0,.25);
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  background-color: aliceblue;
  font-weight: bolder;
  cursor: pointer;
}

.cardImg{
  width: 100%;
  z-index: 5;
  opacity: .1;
}

.cardText{
  z-index: 10;
  padding: 0 5px;
}