.contentContainer{
  display: block;
}

@mixin sectionBase{
  width: 100%;
  overflow: hidden;
  margin: auto;
  display: -webkit-box;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  //padding: 0 10px;
  background: #fff;
  color: #404040;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  border-bottom: solid 2px #ddd;
}

.sectionLR{
  @include sectionBase;
  display: flex;
}

.sectionCenter{
  @include sectionBase;
  display: block;
  text-align: center;
}

.section:nth-child(even) {
  background-color: #f5f7f9;
}

.section:nth-child(odd) {
  background-color: #eaecee;
}