.leftImg{
  height: -webkit-fill-available;
  width: 50%;
  left: 0;
  position: absolute;
}

.imgBlock{
  position: static !important;
}

.rightText{
  width: 50%;
  max-width: 512px;
  margin: 0 10px;
  position: absolute;
  right: 50%;
  left: 50%;
}