@mixin imgBase{
  height: calc(100% - 10px);
  width: calc(50% - 10px);
  position: absolute;
  cursor: pointer;
}

@mixin textBase{
  width: 50%;
  max-width: 512px;
  margin: 0 10px;
  position: absolute;
}


.leftImg{
  @include imgBase;
  left: 5px;
}

.rightImg{
  @include imgBase;
  right: 5px;
}

.imgBlock{
  position: static !important;
}

.leftText{
  @include textBase;
  left: 0;
}

.rightText{
  @include textBase;
  left: 50%;
}

.ImgCaption{
  position: absolute;
  text-align: center;
  left: 100px;
  right: 100px;
  bottom: 50px;
  background: rgba(255,255,255,0.7);
  border-radius: 5px;
  line-height: 26px;
}