@mixin imgBase{
  height: calc(100% - 10px);
  position: absolute;
  cursor: pointer;
  overflow: hidden;
}

@mixin textBase{
  width: 50%;
  max-width: 512px;
  margin: 0 10px;
  position: absolute;
  z-index: 10;
}


.leftImg{
  @include imgBase;
  width: calc(50% - 10px);
  left: 5px;
}

.rightImg{
  @include imgBase;
  width: calc(50% - 10px);
  right: 5px;
}

.centerMobileImg{
  @include imgBase;
  width: calc(100% - 10px);
  right: 5px;
}

.centerImg{
  @include imgBase;
  width: 870px;
}

.imgBlock{
  position: static !important;
}

@mixin imgFrameLeftRight{
  z-index: 20;
  width: 118px;
  height: 490px;
  position: absolute;
  top: 0;
}

.imgFrameLeft{
  @include imgFrameLeftRight;
  background: transparent url(../images/imageFrame/frame-left.png) no-repeat;
}

.imgFrameRight{
  @include imgFrameLeftRight;
  background: transparent url(../images/imageFrame/frame-right.png) no-repeat;
  right: -5px;
}

@mixin imgFrameTopBottom{
  z-index: 15;
  height: 27px;
  width: 100%;
  position: absolute;
}

.imgFrameTop{
  @include imgFrameTopBottom;
  background: transparent url(../images/imageFrame/frame-top.png);
  top: 0;
}

.imgFrameBottom{
  @include imgFrameTopBottom;
  background: transparent url(../images/imageFrame/frame-bottom.png);
  bottom: 0;
}



.leftText{
  @include textBase;
  left: 0;
}

.rightText{
  @include textBase;
  left: 50%;
}

.imgCaption{
  position: absolute;
  text-align: center;
  left: 100px;
  right: 100px;
  bottom: 50px;
  background: rgba(255,255,255,0.7);
  border-radius: 5px;
  line-height: 26px;
}

.imgFullText{
  position: absolute;
  text-align: center;
  left: 100px;
  right: 100px;
  background: rgba(255,255,255,0.7);
  line-height: 26px;
}