@mixin gridBase{
  display: grid;
  grid-auto-rows: 64px;
  justify-content: center;
}

.grid{
  @include gridBase;
  grid-template-columns: repeat(12, 64px);
}

.gridMobile{
  @include gridBase;
  grid-template-columns: repeat(6, 64px);
}

.thumbnail{
  cursor: pointer;
}