.title{
  display: grid;
  grid-template-columns: 32px auto 32px;
  align-items: center;
  gap: 15px;
  justify-content: center;  
  margin: 0 10px;
}

@mixin gridBase{
  display: grid;
  grid-auto-rows: 64px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.grid{
  @include gridBase;
  grid-template-columns: repeat(12, 64px);
}

.gridMobile{
  @include gridBase;
  grid-template-columns: repeat(6, 64px);
}

.thumbnail{
  cursor: pointer;
}