.langTip{
  display:block;
  position: absolute;
  bottom: 100%;
  margin-left: 10px;
  margin-bottom: -10px;
  padding: 20px 35px 20px 25px;
  background: #e66;
  border-radius: 5px;
  color: #fff;
  line-height: 1.25;
  font-size: 16px;
}

.langTip::after {
    content: "";
    border: 10px transparent solid;
    border-top: 10px #e66 solid;
    position: absolute;
    top: 100%;
    left: 55px;
}

.langTipText{
  color: #fff;
  line-height: 1.25;
  font-size: 16px;
}

.closeBtn {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Comic Sans', 'Comic Sans MS';
}

.hidden { 
  display:none; 
}

.formControl{
  margin: 0 0 30px 20px;
}

.formControlMobile{
  margin: 0 0 60px 20px;
}