@font-face {
  font-family: 'Konosuba-ko';
  src: url('../fonts/Konosuba-ko.woff') format("woff");
}

body{
  margin: 0;
}

h1{
  font-family: 'Comic Sans', 'Comic Sans MS';
}

.container {
  margin: 0;
}
