@font-face {
  font-family: 'Konosuba-ko';
  src: url('../fonts/Konosuba-ko.woff') format("woff");
}

.defaultFont{
  font-family: '-apple-system', 'BlinkMacSystemFont', '"Segoe UI"', 'Roboto', '"Helvetica Neue"', 'Arial', 'sans-serif', '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}

@mixin isekai-font{
  font-family: 'Konosuba-ko';
  font-weight: bold;
}
.isekaiFontOrg{
  @include isekai-font;
}

.isekaiFont{
  @include isekai-font;
}

body{
  margin: 0;
}

h1{
  font-family: 'Comic Sans', 'Comic Sans MS';
}

.container {
  margin: 0;
}
