.modal{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin modalContentBase{
  position: relative;
  border: 2px solid #000;
}

@mixin textBase{
  letter-spacing: 1px;
  text-shadow: -1px 0 #f0f3f8, 0 1px #f0f3f8, 1px 0 #f0f3f8, 0 -1px #f5f5f1;
  margin-left: auto;
  margin-right: auto;
}

.paper{
  @include modalContentBase;
  background: white;
  width: 400px;
}

.applicationFormImg{
  opacity: .8;
}

.paperTextField{
  @include textBase;
  color: steelblue;
  position: absolute;
  z-index: 10;
  width: inherit;
  top: 15%;
  text-align: center;
}

.paperTextLine{
  padding: 0 20px;
}

@mixin optionBase{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  left: 0;
  right: 0;
  text-shadow: 0 2px 3px rgba(0,0,0,.4);
}

.optionContainerCenter{
  @include optionBase;
  top: 40%;
}

.optionText{
  border: 2px solid #333;
  background-color: rgba(0,0,0,.2);
  border-radius: 20px;
  color: mintcream;
  cursor: pointer;
  padding: 5px 1px;
}

.optionText:hover{
  background-color: rgba(255, 255, 255, 0.8);
  /*color: dodgerblue;*/
  color: royalblue;
}

.story{
  @include modalContentBase;
  width: 80%;
}

.storyNoBorder{
  @include modalContentBase;
  width: 80%;
  border: none;
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.storyCenterTextField{
  @include textBase;
  color: steelblue;
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  word-wrap: break-word;
}

.storyTextfield{
  position: absolute;
  z-index: 10;
  width: inherit;
  bottom: 0;
}

@mixin missionButtonContainerBase{
  position: absolute;
  display: grid;
  justify-content: center;
  width: 100%;
}

.missionButtonContainer{
  @include missionButtonContainerBase;
  bottom: 30px;
  grid-template-columns: 15px 3fr 1fr 15px;
  gap: 30px;
}

.missionButtonContainerMobile{
  @include missionButtonContainerBase;
  bottom: 5px;
  grid-template-columns: 0px 2fr 1fr 0px;
  gap: 5px;
}
